<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Friday Problems</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<h1> Make your movie selection</h1>
<p>Make your movie selection here, choose your genre and solve your Friday night problem</p>

<!-- {{#each genres}} -->
<!-- entries is properties of object
  <li><a href="genres/{{action}}{{comedy}}{{rom-com}}"></a></li>
	{{/each}} -->

<form action="./data/movies.json" method="get">
<select name="movie selection">
	<option value="./data/movies/{{action}}" class="value">Action</a>
	<option value="./data/movies/{{comedy}}" class="value">Comedy</a>
	<option value="./data/movies/{{romantic}}" class="value">Romantic comedy</a>
</select>
</form>

<!-- Here is where you will find your Friday night movie -->

<h2>Here's your Friday problem solved</h2>
<p>
	Movie suggestions: We recommend... <br/>
	{{action}}
	{{comedy}}
	{{romantic}}
</p>

<p>Don't have the movie you're looking for? Submit a suggestion of your own.</p>

<button>Make a submission</button>

</body>
</html>

<!-- <select name="forma">
    <option value="Home"><a href="home.php">Home</a></option>
    <option value="Contact"><a href="contact.php">Contact</a></option>
    <option value="Sitemap"><a href="sitemap.php">Sitemap</a></option>
</select> -->
