<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Friday Flick</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<h1> Make your movie selection</h1>
<p>Make your movie selection here, choose your genre and solve your Friday night problem</p>
<select>
<!-- {{#each genres}} -->
<!-- entries is properties of object
  <li><a href="genres/{{action}}{{comedy}}{{rom-com}}"></a></li>
	{{/each}} -->
	<option a href="movies/{{action}}" class="value"><value>Action </value></a>
	<option a href="movies/{{comedy}}" class="value"><value>Comedy </value></a>
	<option a href="movies/{{rom-com}}" class="value"><value>Romantic comedy </value></a>

</select>
  <!-- 	<a href="new" class="button"><button>action </button></a> -->

</body>
</html>
